<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <strong>Личная информация</strong>
    <p>{{ user.user_profile.surname }}<br><br>
        {{ user.user_profile.first_name }}<br><br>{{ user.user_profile.last_name }}<br><br>
        {{ user.user_profile.address }}</p>
    <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Выйти из аккаунта">
    <form method="post" action="{% url 'products_show' %}">
            {% csrf_token %}
            <input type="submit" value="Страница с продуктами">
    </form>
    <strong>Cписок товаров</strong>
    <ul>
        {% for item in products %}
        <li>{{ item.name }} {{ item.price }}
        <form method="post" action="{% url 'create_wishes' item.pk %}">
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
        </li>
    {% endfor %}
    </ul>
    <strong>Cписок покупок</strong>
    <ul>
        {% for item in purchases %}
        <li>{{ item.product.name }} {{ item.date }} {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <strong>Корзина</strong>
    <ul>
        {% for item in wishes %}
        <li>{{ item.product.name }} {{ item.quantity }}
        <form method="post" action="{% url 'delete_wishes' item.product.pk %}">
            {% csrf_token %}
            <input type="submit" value="Убрать из корзины">
        </form>
        </li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'purchase' %}">
            {% csrf_token %}
            <input type="submit" value="Купить">
        </form>
</body>
</html>